@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.container {
  width: 970px;
  max-width: none !important;
}

.content {
  .page-header {
    margin-top: 0;
  } 
}

.sidebar {
  .page-header {
    margin-top: 0;
    margin-bottom: 0;
  } 
}

// injector
@import 'directives/address-input/address-input.less';
@import 'directives/navbar/navbar.less';
@import 'directives/sidebar/sidebar.less';
@import 'views/admin/branch/info/info.less';
@import 'views/admin/branch/main/main.less';
@import 'views/admin/branch/new/new.less';
@import 'views/admin/dashboard/dashboard.less';
@import 'views/admin/employee/info/info.less';
@import 'views/admin/employee/main/main.less';
@import 'views/admin/employee/new/new.less';
@import 'views/admin/user/info/info.less';
@import 'views/admin/user/main/main.less';
@import 'views/admin/user/new/new.less';
@import 'views/dialogs/dialog-confirm/dialog-confirm.less';
@import 'views/dialogs/dialog-input/dialog-input.less';
@import 'views/dialogs/editor-address/editor-address.less';
@import 'views/dialogs/editor-branch/editor-branch.less';
@import 'views/dialogs/editor-email/editor-email.less';
@import 'views/dialogs/editor-phone/editor-phone.less';
@import 'views/dialogs/editor-profile-en/editor-profile-en.less';
@import 'views/dialogs/editor-profile-th/editor-profile-th.less';
@import 'views/employee/course/info/info.less';
@import 'views/employee/course/main/main.less';
@import 'views/employee/course/new/new.less';
@import 'views/employee/dashboard/dashboard.less';
@import 'views/employee/employee/info/info.less';
@import 'views/employee/employee/main/main.less';
@import 'views/employee/employee/new/new.less';
@import 'views/employee/student/info/info.less';
@import 'views/employee/student/main/main.less';
@import 'views/employee/student/new/new.less';
@import 'views/employee/teacher/info/info.less';
@import 'views/employee/teacher/main/main.less';
@import 'views/employee/teacher/new/new.less';
@import 'views/login/login.less';
@import 'views/settings/address/address.less';
@import 'views/settings/change-password/change-password.less';
@import 'views/settings/emails/emails.less';
@import 'views/settings/phones/phones.less';
@import 'views/settings/profile/profile.less';
@import 'views/signup/signup.less';
@import 'modal/modal.less';
// endinjector