<div class="container">
  <div id="page-signup">
    <div class="logo">
      <img src="assets/images/logo_180x88.png" alt="Pianoforte">
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Create new account</div>
      <div class="panel-body">
        <form class="form-signup" name="form" novalidate ng-submit="signup(form)">
          <div class="form-group">
            <label for="inputFirstName">First name</label>
            <input type="text" class="form-control" id="inputFirstName" placeholder="Enter first name" required autofocus />
          </div>
          <div class="form-group">
            <label for="inputLastName">Last name</label>
            <input type="text" class="form-control" id="inputLastName" placeholder="Enter last name" required />
          </div>
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" id="inputUsername" placeholder="Enter username" required />
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Enter password" required />
          </div>
          <div class="form-group">
            <label for="inputPassword">Register Code</label>
            <input type="password" class="form-control" id="inputRegisterCode" placeholder="Enter register code" required />
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
            <a href="/" class="btn btn-default btn-block">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>