<div id="en-profile-editor">
  <div class="modal-header">
    <h4 class="modal-title">Profile Editor</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <!-- Firstname -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="input-firstname" class="col-xs-4 control-label">First Name:</label>
            <div class="col-xs-6">
              <input type="text" id="input-firstname" name="firstname" class="form-control" placeholder="First Name" ng-model="profile.firstname.en" autofocus required />
              <p class="text-danger" ng-show="errors.firstname != ''">
                <em>{{ errors.firstname }}</em>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Lastname -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="input-lastname" class="col-xs-4 control-label">Last Name:</label>
            <div class="col-xs-6">
              <input type="text" id="input-lastname" name="lastname" class="form-control" placeholder="First Name" ng-model="profile.lastname.en" required />
              <p class="text-danger" ng-show="errors.lastname != ''">
                <em>{{ errors.lastname }}</em>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Nickname -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="input-nickname" class="col-xs-4 control-label">Nickname:</label>
            <div class="col-xs-6">
              <input type="text" id="input-nickname" name="nickname" class="form-control" placeholder="First Name" ng-model="profile.nickname.en" required />
              <p class="text-danger" ng-show="errors.nickname != ''">
                <em>{{ errors.nickname }}</em>
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="onSubmit()">Save</button>
    <button class="btn btn-danger" ng-click="onCancel()">Cancel</button>
  </div>
</div>