<div navbar></div>

<div class="container">
  <div class="row">
    <div class="col-xs-3 sidebar">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><strong>Settings</strong></div>
        <div class="panel-body">
          <h5 class="page-header"><strong>Columns</strong></h5>
          <div ng-repeat="(key, column) in settings.columns">
            <input type="checkbox" ng-model="column.visible" /> {{ column.text }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-9 content">
      <h2 class="page-header">
        <span>รายชื่อพนักงานทั้งหมด</span>
        <a class="btn btn-primary pull-right" href="/employees/new"><i class="glyphicon glyphicon-plus"></i> Add</a>
      </h2>

      <div class="row">
        <div class="col-xs-offset-8 col-xs-4">
          <div class="input-group pull-right">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <table ng-table="tableParams" class="table table-hover table-condensed">
            <tr ng-repeat="employee in employeeList">
              <td data-title="'#'" class="text-center" width="8%">
                {{ $index + 1 }}
              </td>
              <td class="text-left"data-title="settings.columns.name.text"  ng-show="settings.columns.name.visible">
                {{ employee | displayedFullNameFilter }}
              </td>
              <td class="text-center" data-title="settings.columns.nickname.text" ng-show="settings.columns.nickname.visible">
                {{ employee | displayedNicknameFilter }}
              </td>
              <td class="text-center" data-title="settings.columns.role.text" ng-show="settings.columns.role.visible">
                {{ employee | displayedRoleFilter }}
              </td>
              <td class="text-center" data-title="settings.columns.displayedName.text" ng-show="settings.columns.displayedName.visible">
                {{ employee | displayedNameFilter }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>