<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Pianoforte</a>
    </div>
    <div id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyphicon glyphicon-list"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="menu in menuList">
              <a href="{{ menu.link }}">{{ menu.title }}</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {{ currentUserProfile | displayedNameFilter }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/settings/profile">Settings</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="" ng-click="logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
