<div navbar></div>

<div class="container" id="settings-phones">
  <div class="row">
  <div class="col-xs-3 sidebar">
    <sidebar title="Account settings" menu-list="sidebarMenuList"></sidebar>
  </div>
  <div class="col-xs-9 content">
    <table class="table">
      <thead>
        <tr>
          <th>
            <div class="row">
              <div class="col-xs-9">
                <h4 class="text-muted">Phones</h4>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="phone in profile.contacts.phones">
          <td>
            <div class="row">
              <div class="col-xs-3 text-muted">{{ phone.label }}</div>
              <div class="col-xs-7"><strong>{{ phone.value | displayedPhoneFilter }}</strong></div>
              <div class="col-xs-2 col-icons">
                <a href="" class="icon icon-star" title="Set as primary" ng-class="{ active: phone.primary }" ng-click="setPrimary($index)">
                  <i class="glyphicon glyphicon-star"></i>
                </a>
                <a href="" class="icon icon-trash" title="Remove" ng-click="removePhone($index)">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
                <a href="" class="icon icon-pencil" title="Edit" ng-click="openPhoneEditor($index)">
                  <i class="glyphicon glyphicon-pencil"></i>
                </a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
            <td>
              <div class="row">
                <div class="col-xs-12">
                  <a href="" ng-click="openPhoneEditor()">+ Add phone</a>
                </div>
              </div>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>