<div navbar></div>

<div class="container" id="settings-addresses">
  <div class="row">
    <div class="col-xs-3 sidebar">
    <sidebar title="Account settings" menu-list="sidebarMenuList"></sidebar>
  </div>
  <div class="col-xs-9 content">
    <table class="table">
      <thead>
        <tr>
          <th>
            <div class="row">
              <div class="col-xs-12">
                <h4 class="text-muted">Change Password</h4>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="alert alert-success" role="alert" ng-show="success">You have successfully changed your password.</div>
            <div class="alert alert-danger" role="alert" ng-show="errors.alertMessage != undefined">{{ errors.alertMessage }}</div>
            <div class="row">
              <div class="col-xs-12">
                <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label>Old password</label>
                        <input type="password" name="oldPassword" class="form-control" ng-model="user.oldPassword" autofocus required mongoose-error/>
                        <p class="text-danger" ng-show="errors.oldPassword != undefined">
                          <em>{{ errors.oldPassword }}</em>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label>New password</label>
                        <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" required />
                        <p class="text-danger" ng-show="errors.newPassword != undefined">
                          <em>{{ errors.newPassword }}</em>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label>Confirm new password</label>
                        <input type="password" name="confirmPassword" class="form-control" ng-model="user.confirmPassword" required />
                        <p class="text-danger" ng-show="errors.confirmPassword != undefined">
                          <em>{{ errors.confirmPassword }}</em>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <button class="btn btn-primary" type="submit">Update password</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>